<%= form_with model: @user, url: update_month_path(@user.id), method: :patch do |f| %>
  <% @dates.each do |day| %>
    <%= fields_for "attendances[]", day do |af| %>
      <div class="form-group">
        <label for="select1a">所属長承認 未</label>
        <% if @user.id == current_user.id %>
          <!--一つ目id: value, 二つ目name: 表示用-->
          <!--申請先上長のid(superior_id)を選択-->
          <%= af.collection_select :superior_id, User.where(superior: true).where.not(id: current_user.id), :id, :name, {:include_blank => true}, {class: "form-control"} %>
          <!--申請月（apply_month）を選択-->
          <%= af.date_select :apply_month, {:discard_year => true, :discard_day => true, :discard_time => true}, {class: "form-control"} %>
        <% end %>
      </div>
    <% end %>
    <!--attendanceカラム使用するためdayをeachで回しているので1ヶ月表示→breakで断ち切る-->
    <% break %>
  <% end %>
  <div class="btn-attendances-center">
    <% if @user.id == current_user.id %>
      <%= f.submit "申請", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

