<%= form_with model: @user, url: update_month_path(@user.id), method: :patch do |f| %>
  <% @users.each do |user| %> <!--自分以外の上長idを含む@users-->
    <% @dates.each do |day| %>
      <!--attendances[] ➡︎ 各フォームのinputタグのname属性にattendances[id][カラム名]という形式で展開-->
      <!--dayは繰り返し処理されている@datesからなる1つのAttendanceオブジェクト-->
      <%= fields_for "attendances[]", day do |af| %>
        <div class="form-group">
          <% superior_name = "" %>
          <% if day.superior_id == 2 %>
            <% superior_name = @superior_a %>
          <% elsif day.superior_id == 3 %>
            <% superior_name = @superior_b %>
          <% elsif day.superior_id == 4 %>
            <% superior_name = @superior_c %>
          <% end %>
          <!--承認 && チェックON-->
          <% if day.month_approval == "承認" && day.month_check == true %>
        　　<label for="select1a">所属長承認 <%= superior_name %>から承認済</label>
          <!--否認 && チェックON-->
          <% elsif day.month_approval == "否認" && day.month_check == true %>
            <label for="select1a">所属長承認 <%= superior_name %>から否認</label>
          <!--申請中-->
          <% elsif day.superior_id.present? %>
            <label for="select1a">所属長承認 <%= superior_name %>へ申請中</label>
          <!--その他、未申請時-->
          <% else %>
            <label for="select1a">所属長承認 未</label>
          <% end %>
          <!--申請後、申請先ユーザーとメッセージ表示、申請ボタンにて値がリセットされる-->
          <% if @user.id == current_user.id %>
            <!--一つ目id: value, 二つ目name: 表示用-->
            <!--申請先上長のid(superior_id)を選択-->
            <%= af.collection_select :superior_id, @users, :id, :name, {include_blank: true, selected: nil}, {class: "form-control"} %>
            <!--申請月の@first_dayを自動で渡す-->
            <%= af.hidden_field :apply_month, :value => @first_day %>
            <!--裏側でmonth_approval == "申請中"を渡したい-->
            <%= af.hidden_field :month_approval, value: "申請中" %>
            <!--裏側でmonth_check == falseにしたい-->
            <%= af.hidden_field :month_check, :value => false %>
          <% end %>
        </div>
      <% end %>
      <!--attendanceカラム使用するためdayをeachで回しているので1ヶ月表示→breakで断ち切る-->
      <% break %>
    <% end %>
    <% break %>
  <% end %>
  <div class="btn-attendances-center">
    <% if @user.id == current_user.id %>
      <%= f.submit "申請", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

