<div class="modal-dialog modal-dialog-center">
  <%= form_with(model: @user, url: update_applicability_path(@user), local: true, method: :patch) do |f| %>
    <div class="modal-position">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% @users.each do |user| %>
          <div class="modal-body"> <!--モーダルボディ-->
            <table class="table table-bordered table-condensed table-hover">
              <% attendances = Attendance.where(user_id: user.id) %> <!--モーダルフッター-->
              <% attendances.each do |at| %>
                <% if at.superior_id_at == current_user.id %>
                  <% if at.attendance_approval == "申請中" || at.attendance_check == false %>
                    <h4 class="modal-title">【<%= user.name %>からの勤怠変更申請】</h4>
                      <thead class="thead_color">
                        <tr>
                          <th rowspan="3" class="title-position">日付</th>
                          <th rowspan="3" class="title-position">曜日</th>
                          <th colspan="4" class="title-position">変更前</th>
                          <th colspan="4" class="title-position">変更後</th>
                          <th rowspan="3" class="title-position">備考</th>
                          <th rowspan="3" class="title-position">指示者確認㊞</th>
                          <th rowspan="3" class="title-position">変更</th>
                          <th rowspan="3" class="title-position">勤怠を確認する</th>
                        </tr>
                        <tr>
                          <th colspan="2" class="title-position">出社</th>
                          <th colspan="2" class="title-position">退社</th>
                          <th colspan="2" class="title-position">出社</th>
                          <th colspan="2" class="title-position">退社</th>
                        </tr>
                        <tr>
                          <th class="title-position">時</th>
                          <th class="title-position">分</th>
                          <th class="title-position">時</th>
                          <th class="title-position">分</th>
                          <th class="title-position">時</th>
                          <th class="title-position">分</th>
                          <th class="title-position">時</th>
                          <th class="title-position">分</th>
                        </tr>
                      </thead>
                    <% break %>
                  <% end %>
                <% end %>
              <% end %>
              <% attendances = Attendance.where(user_id: user.id) %> <!--モーダルフッター-->
              <% attendances.each do |at| %>
                <% if at.superior_id_at == current_user.id %>
                  <% if at.attendance_approval == "申請中" || at.attendance_check == false %>
                    <%= f.fields_for "attendances[]", at do |af| %>
                      <tbody>
                      <tr>
                        <td><%= l(at.worked_on, format: :short1) %></td>
                        <td>
                          <% $days_of_the_week[at.worked_on.wday] %>
                          <!--if文でwdayが0か6（土か日曜日）だったらの時の処理-->
                          <% if at.worked_on.wday == 0 %>
                            <div class="sunday"><%= $days_of_the_week[at.worked_on.wday] %></div>
                          <% elsif at.worked_on.wday == 6 %>
                            <div class="saturday"><%= $days_of_the_week[at.worked_on.wday] %></div>
                          <% else %>
                            <%= $days_of_the_week[at.worked_on.wday] %>
                          <% end %>
                        </td>
                        <% if at.started_at.present? && at.finished_at.present? %>
                          <td><%= l(at.started_at, format: :hour) %></td>
                          <td><%= l(at.started_at.floor_to(15.minutes), format: :min) %></td>
                          <td><%= l(at.finished_at, format: :hour) %></td>
                          <td><%= l(at.finished_at.floor_to(15.minutes), format: :min) %></td>
                        <% else %>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        <% end %>
                        <% if at.change_started.present? && at.change_finished.present? %>
                          <td><%= l(at.change_started, format: :hour) %></td>
                          <td><%= l(at.change_started.floor_to(15.minutes), format: :min) %></td>
                          <td><%= l(at.change_finished, format: :hour) %></td>
                          <td><%= l(at.change_finished.floor_to(15.minutes), format: :min) %></td>
                        <% end %>
                        <td><%= at.note %></td>
                        <td style="padding-top: 16px;">
                          <%= af.select :attendance_approval, Attendance.attendance_approvals.keys.to_a, {}, { class: "form-control" } %>
                        </td>
                        <td class="checkbox_width">
                          <%= af.check_box :attendance_check, incude_hidden: false %>
                        </td>
                        <td>
                          <%= link_to "確認", user_path(id: user.id, first_day: at.apply_month_at ), class: 'btn btn-primary' %>
                        </td>
                      </tr>
                      </tbody>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </table>
          </div>
        <% end %>
        <div class="modal-footer">
          <div id="notice-message">
            <p><img src="https://zet-art.net/wp-content/uploads/2019/03/caution-01.png" alt="注意" width="40" height="40" border="0" />①指示者確認㊞が申請中の状態だと申請できません。②申請する場合は変更にチェックを入れて下さい。</p>
          </div>
          <div id="change-btn">
            <%= f.submit "変更を送信する", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>