<div class="modal-dialog modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">【残業申請】</h4>
    </div>
    <div class="modal-body">
      <%= form_with(model: @attendance, local: true, method: :patch) do |f| %>
      <!--form_with(model: @attendance, url: update_overwork_request_path(@user), local: true, method: :patch) do |f|-->
        <table class="table table-bordered">
          <thead class="mokuji">
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>
         
          <tbody>
            <tr>
              <td><%= @day.to_s(:date) %></td>
              <td><%= @youbi %></td>
              <td><%= f.time_field :scheduled_end_time, class: 'form-control' %></td>
              <td><%= f.check_box(:next_day, { :checked => false }) %></td>
              <td><%= f.text_field :note, class: 'form-control' %></td>
              <td>
                <select class="form-control">
                  <option value=""></option>
                  <option value="上長A">上長A</option>
                  <option value="上長B">上長B</option>
                </select>
              </td>
            </tr>
           </tbody>
        </table>
      <% end %>
    </div>
    
    <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			<button type="button" class="btn btn-primary">変更を送信する</button>
		</div>
		
  </div>
</div>