<div class="modal-dialog modal-dialog-center">
  <%= form_with(model: @user, url: update_approval_path(@user), local: true, method: :patch) do |f| %>
    <% @users.each do |user| %>
      <div class="modal-position">
        <div class="modal-content">
          <% attendances = Attendance.where(user_id: user.id) %>
          <% attendances.each do |at| %>
            <% if at.superior_id == current_user.id%>
            <!--モーダルヘッダー-->
              <div class="modal-header">
                  <h4 class="modal-title">【<%= user.name %>からの１ヶ月分勤怠申請】</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
            <% break %>
          <% end %>
          <% attendances = Attendance.where(user_id: user.id) %>
          <% attendances.each do |at| %>
            <% if at.superior_id == current_user.id%>
            <!--モーダルボディ-->
              <div class="modal-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="title-position">月</th>
                      <th class="title-position">指示者確認㊞</th>
                      <th class="title-position">変更</th>
                      <th class="title-position">勤怠を確認する</th>
                    </tr>
                  </thead>
                  <%= fields_for "attendances[]", at do |af| %>
                    <tbody>
                      <tr>
                        <td><%= l(at.apply_month, format: :month) %></td>
                        <td class="select-approval">
                          <%= af.select :month_approval, Attendance.month_approvals.keys.to_a, {}, { class: "form-control" } %>
                        </td>
                        <td width="135px"><%= af.check_box :month_check %></td>
                        <td>
                          <%= link_to "確認", user_path(id: user.id, first_day: at.apply_month ), class: 'btn btn-primary' %>
                        </td>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
            <% end %>
          <% end %>
          <% attendances = Attendance.where(user_id: user.id) %>
          <% attendances.each do |at| %>
            <% if at.superior_id == current_user.id%>
              <!--モーダルフッター-->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <%= f.submit "変更を送信する", class: "btn btn-primary" %>
              </div>
            <% end %>
            <% break %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>